body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

#lightweight-chart {
  height: 70vh;
  width: calc(100% - 10px);
  display: block;
}

.select,
#locale {
  width: 100%;
}

.like {
  margin-right: 10px;
}
